.titleContainer {
    text-align: start;
}

.eductationTimeText {
    line-height: 0.5rem;
}

@media only screen and (min-width: 769px) {
    .titleContainer {
        width: 27rem;
    }

    .educationScoreText {
        line-height: 0rem;
    }
}
