.footer {
    align-items: center;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem 0;
}

.footerLogoContainer {
    margin-top: 20px;
    margin-bottom: 50px;
}

.footerIconbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 300px;
}

.footerARRtext {
    color: #aaaaaa;
    font-size: 13px;
}
