.row {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
}

.card {
	align-items: center;
	background-color: rgba(var(--t3_color), 0.2);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 43vw;
}

.top {
	align-items: center;
	display: flex;
	gap: 10px;
	height: 2rem;
	justify-content: flex-start;
	flex-direction: row;
	margin-top: 1rem;
	width: 80%;
}

.icon {
	aspect-ratio: 1;
	width: 1.5rem;
}

.indicator {
	background: linear-gradient(90deg,
			rgb(var(--t3_color)) 0%,
			rgb(var(--t2_color)) 50%,
			rgb(var(--t0_color)) 100%);
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 1rem;
	width: 80%;
	height: 0.5rem;
	position: relative;
}

.i5 {
	clip-path: inset(0 0 0 0 round 1rem);
}

.i4 {
	clip-path: inset(0 20% 0 0 round 1rem);
}

.i3 {
	clip-path: inset(0 40% 0 0 round 1rem);
}

.i2 {
	clip-path: inset(0 60% 0 0 round 1rem);
}