.root {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marker {
    background-color: #f5b278;
    border-radius: 0.5rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.25rem;
}

.dotContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 5rem;
}


@media only screen and (max-width: 768px) {
    .root {
        width: 70vw;
    }
}

@media only screen and (min-width: 769px) {
    .root {
        width: 15rem;
        margin: 0 2rem;
    }
}
