.welcome {
    font-size: 1.25rem;
}

.title {
    font-size: 2.5rem;
    line-height: 0;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: start;
}

.aboutCell {
    padding: 2rem;
}

.mainSkillCell {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

.skillText {
    text-align: center;
}

.seeMore {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .titleText {
        padding-left: 1rem;
    }

    .aboutCell{
        margin-top: 2rem;
        width: 90vw;
    }

    .mainSkillCell {
        margin-top: 2rem;
        width: 90vw;
    }

    .skillText {
        width: 70vw;
    }

    .skillRow {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 769px) {
    .topRow {
        margin-top: 4rem;
    }

    .titleText {
        margin-right: 4rem;
    }

    .aboutRow {
        height: 25rem;
        margin-top: 4rem;
    }

    .aboutCell {
        height: inherit;
        margin: 0 1rem;
        width: 25rem;
    }

    .mainSkillCell {
        margin: 2rem 1rem 0 1rem;
        width: 12rem;
    }

    .skillText {
        width: 10rem;
    }
}
