.bulletButtonRoot {
    align-items: center;
    background-color: #f7821b;
    border-radius: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 35px;
    justify-content: center;
    min-width: 10rem;
}

.bulletButtonText {
    color: #ffffff;
    min-width: 5rem;
}
