.r {
    position: relative;
    padding: 0 2rem;
}

.m {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t {
    color: #f7821b;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.s {
    color: #555555;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.b {
    font-weight: bold;
    margin-bottom: 0;
}

.h {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lDot {
    background-color: #f7821b;
    border-radius: 0.2rem;
    height: 0.4rem;
    margin-right: 1rem;
    width: 0.4rem;
}

.l {
    line-height: 0;
}

.m1 {
    margin: 0 1rem;
}

.m2 {
    margin: 0 2rem;
}

.m3 {
    margin: 0 4rem;
}

.m4 {
    margin: 1rem 0;
}

.m5 {
    margin: 1rem;
}

.m6 {
    margin: 1rem 2rem;
}

.m7 {
    margin: 1rem 4rem;
}

.m8 {
    margin: 2rem 0;
}

.m9 {
    margin: 2rem 1rem;
}

.mA {
    margin: 2rem
}

.mB {
    margin: 2rem 4rem;
}

.mC {
    margin: 4rem 0;
}

.mD {
    margin: 4rem 1rem;
}

.mE {
    margin: 4rem 2rem;
}

.mF {
    margin: 4rem;
}