.container {
	padding: 0 2rem;
	position: relative;
	z-index: 1;
}

.main {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.bgImg {
	position: absolute;
	z-index: -1;
}

.filterRoot {
	margin-top: 2rem;
}

.searchRoot {
	align-items: center;
	border: 1px solid #f7821b;
	border-radius: 1.5rem;
	display: flex;
	height: 3rem;
	justify-content: space-between;
	padding: 0 1rem 0 1.5rem;
}

.searchInput {
	border: 0;
	font-size: 1rem;
	height: 2.5rem;
	outline: none;
}

.clearBtn {
	height: 25px;
	width: 25px;
}

.tagList {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
}

.projectTagList {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.projectTag {
	align-items: center;
	border: 1px solid #f7821b;
	border-radius: 1rem;
	display: flex;
	height: 2rem;
	justify-content: space-between;
	margin-right: 1rem;
	padding: 0 1rem;
}

.projectLangList {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1rem;
}

.projectLangImg {
	margin-right: 1rem;
}

.projectLinkBox {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.projectGithubLink {
	height: 30px;
	width: 30px;
	margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
	.filterRoot {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.searchRoot {
		margin-right: 1rem;
		width: 70vw;
	}

	.searchInput {
		width: 50vw;
	}

	.expandBtn {
		height: 30px;
		width: 30px;
	}

	.tagList {
		width: 90vw;
	}

	.projectLinkBox {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 769px) {
	.searchRoot {
		width: 55rem;
	}

	.searchInput {
		width: 50rem;
	}

	.horizontalSplit {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.tagList {
		margin-right: 2rem;
		width: 12rem;
	}
}
