.bulletButtonRoot {
	align-items: center;
	background-color: #f7821b;
	border-radius: 1.125rem;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	height: 2.25rem;
	justify-content: center;
	min-width: 10rem;
}

.itemDetailBox {
	border-bottom: 1px solid #eaeaea;
	padding: 2rem;
}

.itemDetailBoxLast {
	border: none;
	padding: 2rem;
}

@media only screen and (max-width: 768px) {
	.itemDetailBox {
		width: 90vw;
	}
}

@media only screen and (min-width: 769px) {
	.row {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.itemDetailBox {
		width: 40rem;
	}

	.horizontalParagraphs {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 36rem;
	}
}
