.orange {
    color: #f7821b;
}

.grey {
    color: #555555;
}

.lgrey {
    color: #aaaaaa;
}

.white {
    color: #ffffff;
}

.sectionTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 4rem;
}
